* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.box {
  width: 200px;
  height: 200px;
  /* margin: 100px 0 0 150px; */
  border-radius: 50%;
  border: 10px solid rgb(177, 173, 173);
  border-left-color: rgb(47, 0, 255);
  animation: spinner 1500ms linear infinite;
}

@keyframes spinner {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
