* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  background-color: yellow;
  width: 200px;
  height: 200px;
  margin: 100px 0 0 150px;
  animation: box_rotate 3s infinite;
}

@keyframes box_rotate {
  0% {
    margin: 100px 0 0 150px;
  }
  25% {
    margin: 100px 0 0 500px;
  }
  50% {
    margin: 300px 0 0 500px;
  }
  75% {
    margin: 300px 0 0 150px;
    background-color: blue;
  }
  100% {
    margin: 100px 0 0 150px;
  }
}
