* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  background-color: yellow;
  width: 200px;
  height: 200px;
  margin: 100px 0 0 150px;
  animation-name: box_animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  /* animation-delay: 3s; */
  /* animation-direction: reverse; */
  animation-timing-function: ease;
}

@keyframes box_animation {
  from {
    background-color: yellow;
    scale: 1.1;
  }
  50% {
    background-color: green;
    scale: 1.5;
  }
  to {
    background-color: red;
    scale: 1.5;
  }
}
