* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.box {
  background-color: black;
  width: 200px;
  height: 400px;
}

div.light {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.red {
  background-color: rgba(255, 0, 0, 0.219);
  animation: red_light 4s infinite;
}
.green {
  background-color: rgba(0, 128, 0, 0.212);
  animation: green_light 4s infinite;
  /* animation-delay: 2s; */
  animation-delay: 1500ms;
}

@keyframes red_light {
  0%,
  50% {
    background-color: rgba(255, 0, 0, 0.219);
  }
  70% {
    background-color: red;
  }
  100% {
    background-color: rgba(255, 0, 0, 0.219);
  }
}

@keyframes green_light {
  0%,
  50% {
    background-color: rgba(0, 128, 0, 0.212);
  }
  70% {
    background-color: green;
  }
  100% {
    background-color: rgba(0, 128, 0, 0.212);
  }
}
